<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='loding_c.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $.ajax({
        type: 'POST',
        url: '/fileUpload',
        data: {
            cate1 : {{cate1}},
            cate2 : {{cate2}},
            cate3 : {{cate3}},
            cate4 : {{cate4}},
        },
        success: function() {
            window.location.replace('/fileUpload');
        }
      });
</script>
</head>

<body>
<!--<script type="text/javascript">-->
<!--    var _showPage = function() {-->
<!--  var loader = $("div.loader");-->
<!--  var container = $("div.container");-->
<!--  loader.css("display","none");-->
<!--  container.css("display","block");-->
<!--};-->
<!--</script>-->

<div class="loader">
</div>

<!--<div class="container" style="display:none;">-->
<!--  <h1>{{fileUpload}}</h1>-->
<!--</div>-->
</body>
</html>