
<div>
  <h1>About</h1>

</div>
      <h3>{{result}}</h3>
      <h3>이미지 미리보기</h3>
      <div id="imagePreview">
      <img id="img" />
          {% if label %}
              {% for i in range(lenghts) %}
                    <p>{{label[i]}} : {{predict[i]}}</p>
                    <img src="{{ url_for('static', filename='naver/'+label[i]) }}"width="150" height="150" />
              {% endfor %}
          {% else %}
              <h2>이미지가 안왔습니다.</h2>
          {% endif %}
      </div>
      <div>
          {% for recipe in recommend_recipe %}
            <a href="https://www.10000recipe.com/recipe/{{recipe[1]}}">{{recipe[2]}}</a><br>
          {% endfor %}
      </div>
<div class= "container">
       <h2>Results:</h2>
       <table class="table table-striped">
       <thead>
       <tr>
           <th>result</th>
<!--           <th>Name</th>-->
<!--           <th>Prices</th>-->
<!--           <th>Sizes</th>-->
<!--           <th>Shoe Type</th>-->
       </tr>
       </thead>
           <tbody>
       {% if label %}
       <tr>
           <td>{{ result }}</td> <h1>조건은 성립</h1>
       </tr>
       {% else %}
       <h1>드롭박스 값 오지못함</h1>
       {% endif %}
       </table>
</div>