<!DOCTYPE HTML>
<html lang="kr">
  <head>
    <meta charset="utf-8">

    {% if title %}
      <title>메인 페이지 - {{ title }}</title>
    {% else %}
      <title>메인 페이지</title>
    {% endif %}
  </head>

  <body>
  <script type="text/javascript">
    const browseBtn = document.querySelector('.browse-btn');
    const realInput = document.querySelector('#real-input');

    browseBtn.addEventListener('click',()=>{
        realInput.click();
    });
        function readInputFile(e){
        var sel_files = [];

        sel_files = [];
        $('#imagePreview').empty();

        var files = e.target.files;
        var fileArr = Array.prototype.slice.call(files);
        var index = 0;

        fileArr.forEach(function(f){
            if(!f.type.match("image/.*")){
                alert("이미지 확장자만 업로드 가능합니다.");
                return;
            };
            if(files.length < 11){
                sel_files.push(f);
                var reader = new FileReader();
                reader.onload = function(e){
                    var html = `<a id=img_id_${index}><img src=${e.target.result} data-file=${f.name} /></a>`;
                    $('imagePreview').append(html);
                    index++;
                };
                reader.readAsDataURL(f);
            }
        }
        if(files.length > 11){
            alert("최대 10장까지 업로드 할 수 있습니다.");
        }
    }

    $('#real-input').on('change',readInputFile);
</script>
    <header>
      <nav>
        <a href="/">Flask 블로그</a>
        <a href="/">Home</a>
        <a href="/about">About</a>
      </nav>
      <hr>
    </header>

    <main role="main">
    <!-- Main content block -->
    {% block content %}{% endblock %}
    </main>
    <div>
        <select class="browsers1" name="browsers2" title="ddd" >
                        <option value="cat1" selected disabled>카테고리1</option>
                        <option value="크롬">크롬</option>
                        <option value="사파리">사파리</option>
                        <option value="엣지">엣지</option>
                        <option value="인터넷익스플로러" label="IE">인터넷익스플로러</option>
                        <option value="파이어폭스" >파이어폭스</option>
                        <option value="오페라">오페라</option>
                    </select>
                    <select class="#browsers2" name="browsers" >
                        <option value="cat2" selected disabled>카테고리2</option>
                        <option value="크롬">크롬</option>
                        <option value="사파리">사파리</option>
                        <option value="엣지">엣지</option>
                        <option value="인터넷익스플로러" label="IE">인터넷익스플로러</option>
                        <option value="파이어폭스" >파이어폭스</option>
                        <option value="오페라">오페라</option>
                    </select>
                    <select class="browsers3" name="browsers" >
                        <option value="cat3" selected disabled>카테고리3</option>
                        <option value="크롬">크롬</option>
                        <option value="사파리">사파리</option>
                        <option value="엣지">엣지</option>
                        <option value="인터넷익스플로러" label="IE">인터넷익스플로러</option>
                        <option value="파이어폭스" >파이어폭스</option>
                        <option value="오페라">오페라</option>
                    </select>
                    <select class="browsers4" name="browsers" >
                        <option value="cat4" selected disabled>카테고리4</option>
                        <option value="크롬">크롬</option>
                        <option value="사파리">사파리</option>
                        <option value="엣지">엣지</option>
                        <option value="인터넷익스플로러" label="IE">인터넷익스플로러</option>
                        <option value="파이어폭스" >파이어폭스</option>
                        <option value="오페라">오페라</option>
                    </select>
                    <div class="photos-upload-view">
            <form id="upload" action="/predict" method="POST" enctype="multipart/form-data">
                <div class="upload-btn-wrapper">
                    <input type="file" name="image" id="real-input" class="image_inputType_file" accept="img/*" required multiple>
                    <button class="browse-btn">사진업로드</button>

                </div>
            </form>
         </div>
    </div>
  </body>
</html>