<!DOCTYPE HTML>
<html lang="kr">
<head>
    <meta charset="utf-8">
        {% if title %}
            <title>메인 페이지 - {{ title }}</title>
        {% else %}
            <title>메인 페이지</title>
        {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='loding_c.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
        $(document).ready(function(){
            $("#hbtn").click(function(){
                $("#content").hide();
                $("#loading").show();
            });
        });
    </script>
</head>
<body>
<header>
    <nav>
        <a href="/">Flask 블로그</a>
        <a href="/">Home</a>
        <a href="/about">About</a>
    </nav>
    <hr>
</header>

<main role="main">
<!-- Main content block -->
{% block content %}{% endblock %}
</main>
<div id="content">
    <form action = "http://112.186.93.164:5000/fileUpload" method = "POST" enctype = "multipart/form-data">
        <select class="browsers1" name="cate1" id="cate1"  >
            <option >방법별</option>
            <option value="볶음">볶음</option>
            <option value="끓이기">끓이기</option>
            <option value="부침">부침</option>
            <option value="조림">조림</option>
            <option value="무침" >무침</option>
            <option value="찜">찜</option>
            <option value="절임">절임</option>
            <option value="튀김">튀김</option>
            <option value="삶기">삶기</option>
            <option value="굽기">굽기</option>
            <option value="데치기">데치기</option>
            <option value="회">회</option>
            <option value="기타">기타</option>
        </select>
        <select class="#browsers1" name="cate2" id="cate2" >
            <option >상황별</option>
            <option value="일상">일상</option>
            <option value="초스피드">초스피드</option>
            <option value="손님접대">손님접대</option>
            <option value="술안주">술안주</option>
            <option value="다이어트" >다이어트</option>
            <option value="도시락">도시락</option>
            <option value="영양식">영양식</option>
            <option value="간식">간식</option>
            <option value="야식">야식</option>
            <option value="푸드스타일링">푸드스타일링</option>
            <option value="해장">해장</option>
            <option value="명절">명절</option>
            <option value="이유식">이유식</option>
            <option value="기타">기타</option>
        </select>
        <select class="browsers1" name="cate3" id="cate3" >
            <option >재료별</option>
            <option value="소고기">소고기</option>
            <option value="돼지고기">돼지고기</option>
            <option value="닭고기">닭고기</option>
            <option value="육류">육류</option>
            <option value="채소류" >채소류</option>
            <option value="해물류">해물류</option>
            <option value="달걀/유제품">달걀/유제품</option>
            <option value="가공식품류">가공식품류</option>
            <option value="쌀">쌀</option>
            <option value="밀가루">밀가루</option>
            <option value="건어물류">건어물류</option>
            <option value="버섯류">버섯류</option>
            <option value="과일류">과일류</option>
            <option value="콩/견과류">콩/견과류</option>
            <option value="곡류">곡류</option>
            <option value="기타">기타</option>
        </select>
        <select class="browsers1" name="cate4" id="cate4" >
            <option >종류별</option>
            <option value="밑반찬">밑반찬</option>
            <option value="메인반찬">메인반찬</option>
            <option value="국/탕">국/탕</option>
            <option value="찌개">찌개</option>
            <option value="디저트">디저트</option>
            <option value="면/만두">면/만두</option>
            <option value="밥/죽/떡">밥/죽/떡</option>
            <option value="퓨전">퓨전</option>
            <option value="김치/젓갈/장류">김치/젓갈/장류</option>
            <option value="양념/소스/잼">양념/소스/잼</option>
            <option value="양식">양식</option>
            <option value="샐러드">샐러드</option>
            <option value="스프">스프</option>
            <option value="빵">빵</option>
            <option value="과자">차/음료/술</option>
            <option value="기타">기타</option>
        </select>
        <input type = "file" name = "file" multiple/>
        <input id="hbtn" type="submit" name="anything_submit" value="Submit" onclick="loading();">
    </form>
</div>
<div id="loading" class="loader" hidden></div>

</body>
</html>