<!DOCTYPE HTML>
<html lang="kr">
<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<style>
    table,th,td,tr{
    border: 1px solid black;
    }
    div{
    text-align: center;
    table-align: center;
    img-align: center;
    }
</style>
</head>
<body>
<div style="background-color: lightblue">
    <h1 align="center">추천 결과</h1>
    <h3 align="center"><a href="http://112.186.93.164:6006/#graphs" target="_blank">Image_Classification_Model_Structure</a></h3>
</div >
    <div id="imagePreview" style="background-color: lightgreen">
        <h3 align="center">이미지 분류 결과</h3>
        <img id="img" />
      {% if label %}
          {% for i in range(lenghts) %}
                <p>{{label[i]}} : {{predict[i]}}</p>
                <img src="{{ url_for('static', filename='naver/'+label[i]) }}"width="150" height="150" />
          {% endfor %}
      {% else %}
          <h2>이미지가 안왔습니다.</h2>
      {% endif %}
    </div>
    <div style="background-color: lightblue">
      <table align="center" style="background-color: white">
          <th>추천 레시피</th>
          {% for key,val in recommend_recipe_dict.items() %}
            <tr>
                <td>
                    <a href="https://www.10000recipe.com/recipe/{{key}}" target="_blank">{{val}}</a>
                </td>
            </tr>
          {% endfor %}
      </table>
    </div>
</body>
</html>